-r ./requirements-dev.txt
protlib
websocket_client
requests
pandas
pyyaml
pydantic
pendulum
git+https://github.com/algo2t/alphatrade.git
git+https://github.com/pannet1/omspy
git+https://github.com/pannet1/omspy-brokers
git+https://github.com/pannet1/toolkit
